<span>
  <span class="text-5xl mr-12">
    <%= @counter %>
  </span>
  <button phx-click="increase">
    inc
  </button>
  <button phx-click="decrease">
    dec
  </button>
  <button phx-click="reset">
    reset
  </button>
</span>
