<h2 class="text-2xl text-gray-800 font-medium">Informationen</h2>

<ul>
  <li class="my-3">
    <span class="text-xl font-semibold text-gray-800"><%= @calls_today %></span>&nbsp; <span class="text-gray-600 font-medium text-lg">Anrufe heute</span>
  </li>

  <li class="my-3">
    <span class="text-xl font-semibold text-gray-800"><%= @calls_week %></span>&nbsp;
    <span class="text-gray-600 font-medium text-lg">Anrufe diese Woche</span>
  </li>
</ul>
